@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*@model List<MiniProjectFile.Models.ImportSource>

<select name="sFile" id="sFile" class="form-select">

    @foreach (var item in Model)
    {
                <option value="@item.Id">@item.Id</option>
    }
    </select>*@